html,body{
  display:block;
  background-color:#fff;
  color:#000;
}

a{color:#000}

body{font-weight:300}

.main,.console{
  position:relative;
  width:971px;
  height:659px;
}

@media only screen and (max-width: 1023px){
  .main,.console{
    width:777px;
    height:528px;
  }
}

.main{
  margin:0px auto;
  margin-top: 3em;
}

.console{
  position:absolute;
  top:0px;
  left:0px;
  z-index:0;
}

map area{outline: none}

.product{
  position:absolute;
  z-index:1;
  left:97px;
  top:50px;
  width:300px;
  height:287px;
}

.clock{
  position:absolute;
  z-index:1;
  left:70px;
  top:411px;
  width:483px;
  height:169px;
}

.countdown{
  font-size: 95px;
  color: red;
  position:absolute;
  z-index:2;
  left: 144px;
  top: 430px;
  width:144px;
  height:180px;
}

.panel4{
  position:absolute;
  z-index:0;
  left:510px;
  top:392px;
  width:184px;
  height:226px;
}

@media only screen and (max-width: 1023px){
  .product{
    left:79px;
    top:42px;
    width:240px;
    height:230px;
    background-size:100%;
  }
  .clock{
    left:56px;
    top:330px;
    width:386px;
    height:135px;
    background-size:100%;
  }
  .countdown{
    font-size: 80px;
    left:108px;
    top:342px;
    width:115px;
    height:144px;
    background-size:100%;
  }
  .panel4{
    left:408px;
    top:314px;
    width:147px;
    height:181px;
    background-size:100%;
  }
}
